{% extends 'common/base.html' %}
{% block content %}

        <div class="container">
            {% include 'posts/search-form.html' %}
            <div class="posts">
            {% for post in object_list %}
                <a id="post-url" href="{% url 'details-post' post.pk %}">
                    <div class="post">
                        <h2>
                            {{ post.title|capfirst }}
                        {% if not post.approved %}
                            {% if 'posts.can_approve_posts' in request.user.get_group_permissions or perms.posts.can_do_approve %}
                                <a href="{% url 'approve' post.pk %}"><i class="ai-check"></i></a>
                            {% endif %}
                        {% endif %}
                        </h2>
                    
                        {% if not post.content %}
                            {% lorem 3 p %}
                        {% else %}
                            {{ post.content }}
                        {% endif %}
                    
                        <div class="post-meta">
                            <span>Posted by {{ post.author|default:"anonymous" }} on {{ post.created_at|date:"d-M-Y" }}</span>
                        </div>
                    </div>
                </a>

            {% empty %}
                <h1>No Posts</h1>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}